  <img src="<%= @user.profile_image.gsub("_normal", "").gsub("http", "https") %>" alt="<%= @user.name %>'s profile picture">
<p>
  <%= @user.name %><br>
  <a href="<%= @user.profile_url %>">
    @<%= @user.nickname %>
  </a>
</p>


<h1><%= link_to "New Playlist", new_playlist_path %></h1>
<h1>Playlists you host:</h1>
<% current_user.host_playlists.each do |playlist| %>
  <%= link_to "#{playlist.name}", playlist_path(playlist) %><br>
<% end %>

<h1>Playlists you follow:</h1>
<% current_user.listener_playlists.each do |playlist| %>
  <% unless current_user.host_playlists.include?(playlist) %>
    <%= link_to "#{playlist.name}", playlist_path(playlist) %><br>
  <% end %>
<% end %>