<div id="chat" class="container col-xs-6 col-md-4">

<%= link_to_if(@playlist.host == current_user, "Edit Playlist Information", { controller: "playlists", action: "edit" })%>

<p>
  <!-- using raw here. should probably have helper method to escape html -->
  Tags: <%= raw @playlist.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(", ") %>
</p>

<div>
  <% if @unapproved_subscriptions.count > 0 %>
    <h3>Unapproved subscribers:</h3>
    <% @unapproved_subscriptions.each do |unapproved_subscription| %>  
      <img src="<%= unapproved_subscription.subscriber.profile_image %>" alt="<%= unapproved_subscription.subscriber.name %>'s profile icon.">
      <%= form_for unapproved_subscription do |f| %>
        <%= f.hidden_field :subscription_id, :value => unapproved_subscription.id %>
        <%= f.submit "Approve #{unapproved_subscription.subscriber.name}" %>
      <% end %>
    <% end %>
  <% end %>

  <% if @approved_subscriptions.count > 0 %>
    <h3>Playlist subscribers:</h3>
    <% @approved_subscriptions.each do |approved_subscription| %> 
      <img src="<%= approved_subscription.subscriber.profile_image %>" alt="<%= approved_subscription.subscriber.name %>'s profile icon."> 
        <%= form_for approved_subscription do |f| %>
          <%= f.hidden_field :subscription_id, :value => approved_subscription.id %>
          <%= f.submit "Remove #{approved_subscription.subscriber.name}" %>
        <% end %>
    <% end %>
  <% end %>
</div>


  <h1>Chat:</h1>
  <div id="message-div">
    <table id="message-table" class="table">
      <% @playlist.chat_messages.each do |message| %>
        <% if message.user_id == current_user.id %>
          <tr class="current_user_comment">
            <td><%= message.user.name %>: <%= message.content %></td>
          </tr>
        <% else %>
          <tr class="other_user_comment">
            <td><%= message.user.name %>: <%= message.content %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <%= form_for [@playlist, ChatMessage.new], :html => {:id => "chat-message-form"} do |f| %>
    <%= f.hidden_field :playlist_id, value: @playlist.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :content %>
    <%= f.submit "Send", :id => 'chat_send'%>
  <% end %>
</div>