<script>current_user_is_host = <%= current_user.id == @playlist.host_id %>;</script>
<!-- <center><div id="player"></div></center> -->
<script src="http://www.youtube.com/iframe_api"></script>
<script>
    if (<%= @songs.empty? %>) {
      var videoIDs = [
          'i_kF4zLNKio', <%= @songs.html_safe %>
      ];
    }
    else {
      var videoIDs = [
          <%= @songs.html_safe %>
      ];
    }

    var player, currentVideoIndex = 0;
    var whatIsPlaying = 0;
    var songsPlayed = [];

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '450',
            width: '100%',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.loadVideoById(videoIDs[currentVideoIndex]);
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          $('#songs-list').find("#" + videoIDs[currentVideoIndex]).parent().closest('div').fadeTo(500,0.2);
          currentVideoIndex++;
          videoIDs.push(songsPlayed);
            if (currentVideoIndex < videoIDs.length) {
               player.loadVideoById(videoIDs[currentVideoIndex]);
            }
        }
        if (event.data == YT.PlayerState.PLAYING) {
          whatIsPlaying = player.getVideoData()['video_id']
          document.getElementById('currently_playing').innerHTML = 'Currently playing: ' + player.getVideoData().title;
        }
    }
  
</script>

<div class="container">    

  <div class="row">
    <div id="playlist-header" class="col-xs-18 col-md-12">
      <h1><%= @playlist.name %></h1>
      <%= link_to_if(@playlist.host == current_user, "Edit Playlist Information", { controller: "playlists", action: "edit" })%>
      <div style="float:right">
        <%= render 'host_panel' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="main-bar" class="col-xs-12 col-md-8">

      <%= render 'tags_playlists_show' %>
      
      <div style="background-color:black">
        <center><div id="player"></div></center>
      </div>

      <div id="currently_playing">
        Currently playing nothing
      </div>
      <%= render 'show_skip_button' %>

      <div id="playlist">
        <div id="songs-list">
          <% @playlist.requests.order(:position).each do |request| %>
            <%= div_for request, class: "row" do %>
              <div class="col-md-1 col-xs-1 voting" id="voting-<%= request.id%>">
                <% if !@playlist.locked %>
                  <a class="upvote" id="upvote-<%= request.id%>">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                <% end %>
                <h6 id="vote-count-<%= request.id%>"><%= request.vote_count %></h6>
                <% if !@playlist.locked %>
                  <a class="downvote" id="downvote-<%= request.id%>">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </a>
                <% end %>
              </div> 

              <div class="col-md-11 col-xs-17 song-info">
                <% if current_user.id == @playlist.host_id %>
                  <a class="delete" id="delete-<%= request.id %>">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                <% end %>

                <%= image_tag("https://img.youtube.com/vi/#{request.song.uid}/default.jpg", height: '60', width: '80', class: "youtube_thumbnail") %>
                  <%= link_to "#{request.song.name}", request.song, id: "#{request.song.uid}", class: "song-uid" %>
                  <span><%= "Requested by: #{request.listener.name} "%></span>
              </div>

            <% end %>
          <% end %>
        </div>
        <% if !@playlist.locked %>
          <h2>Add Song:</h2>
          <%= render 'add_song_form' %>
        <% end %>
      </div>
    </div>

    <!-- CHAT FEATURE: -->
    <div id="playlist-side-bar" class="col-xs-6 col-md-4">
      <%= render 'like_button' %>
      <%= render 'chat_box_and_form' %>
      <% if current_user.id == @playlist.host_id %>
        <%= render 'subscription_feature' %>
        <%= render 'like_user_box' %>
      <% end %>
    </div>

  </div><!-- row -->
</div><!-- container -->
