
<div id="playlist" class="container col-xs-9 col-md-6 col-xs-offset-2 col-md-offset-2">
	<h1><%= @playlist.name %></h1>
	<% @playlist.songs.each do |song| %>
		<div class="playlist_song">
		  <%= song.name %>
	  </div>
	<% end %>
	<%= render 'new_song_by_url' %>
</div>

<div id="chat" class="container col-xs-6 col-md-4">
	<h1>Chat:</h1>
	<% @playlist.chat_messages.each do |message| %>
		<div id="message_box">
		  <%= message.content %>
	  </div>
	<% end %>

	<%= form_for [@playlist, ChatMessage.new] do |f| %>
		<%= f.hidden_field :playlist_id, value: @playlist.id %>
		<%= f.hidden_field :user_id, value: current_user.id %>
	  <%= f.text_field :content %>
	  <%= f.submit "Send" %>
	<% end %>
</div>

<!-- JS -->
<script>
	$(function() {
		$(":submit").click(function(event) {
			event.preventDefault();
			// $.post("/playlist//chat_messages", $("form").serialize(), function(data) {	
			$.post(location.href + "/chat_messages", $("form").serialize(), function(data) {	
			})
			$("#new_chat_message")[0].reset();
		})
	});
</script>