<script>
  current_user_is_host = <%= current_user.id == @playlist.host_id %>;
  current_user_name = "<%= "#{current_user.name}" %>";
</script>
<!-- <center><div id="player"></div></center> -->
<script src="http://www.youtube.com/iframe_api"></script>
<script>
    if (<%= @songs.empty? %>) {
      var videoIDs = [
          'i_kF4zLNKio', <%= @songs.html_safe %>
      ];
    }
    else {
      var videoIDs = [
          <%= @songs.html_safe %>
      ];
    }

    var player, currentVideoIndex = 0;
    var whatIsPlaying = 0;
    var songsPlayed = [];

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '450',
            width: '100%',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.loadVideoById(videoIDs[currentVideoIndex]);
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          $('#songs-list').find("#" + videoIDs[currentVideoIndex]).parent().closest('div').fadeTo(500,0.2);
          currentVideoIndex++;
          videoIDs.push(songsPlayed);
            if (currentVideoIndex < videoIDs.length) {
               player.loadVideoById(videoIDs[currentVideoIndex]);
            }
        }
        if (event.data == YT.PlayerState.PLAYING) {
          whatIsPlaying = player.getVideoData()['video_id']
          document.getElementById('currently_playing').innerHTML = 'Currently playing: ' + player.getVideoData().title;
        }
    }

    //side-bar tabs:
    $('#interaction').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    $('#chat').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  
</script>

<div class="container">    

  <div class="row">
    <div id="playlist-header" class="col-xs-13 col-md-9">
      <h1><%= @playlist.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-13 col-md-9">
      
    </div>
    <div id="panel" class="col-xs-5 col-md-3">
      <% if current_user.id == @playlist.host_id %>
        <%= render 'host_panel' %>
      <% else %>  
        <%= render 'like_button' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div id="main-bar" class="col-xs-12 col-md-8">

      <%= render 'tags_playlists_show' %>
      
      <div style="background-color:black">
        <center><div id="player"></div></center>
      </div>

      <div id="player-underbar">
        <%= render 'show_skip_button' %>
        <div id="currently_playing">
          Currently playing nothing
        </div>
      </div>
      
      <div id="playlist">
        <div id="songs-list">
          <% @playlist.requests.order(:position).each do |request| %>
            <%= div_for request, class: "row" do %>
              <div class="col-md-1 col-xs-1 voting" id="voting-<%= request.id%>">
                <% if !@playlist.locked %>
                  <a class="upvote" id="upvote-<%= request.id%>">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                <% end %>
                <h6 id="vote-count-<%= request.id%>"><%= request.vote_count %></h6>
                <% if !@playlist.locked %>
                  <a class="downvote" id="downvote-<%= request.id%>">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </a>
                <% end %>
              </div> 

              <div class="col-md-2 col-xs-3 song-thumbnail">
                <%= image_tag("https://img.youtube.com/vi/#{request.song.uid}/default.jpg", height: '60', width: '80', class: "youtube_thumbnail") %>
              </div>

              <div class="col-md-8 col-xs-14 song-info">
                <p>
                <%= link_to "#{request.song.name}", request.song, id: "#{request.song.uid}", class: "song-uid" %><br>
                <%= "Requested by: #{request.listener.name} "%>
                </p>
              </div>
              
              <% if current_user.id == @playlist.host_id %>
                <a class="delete" id="delete-<%= request.id %>">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              <% end %>
            
            <% end %>
          <% end %>
        </div>
        <% if !@playlist.locked %>
          <h2>Add Song:</h2>
          <%= render 'add_song_form' %>
        <% end %>
      </div>
    </div>

    <!-- SIDE BAR: -->
    <div id="playlist-side-bar" class="col-xs-6 col-md-4" role="tabpanel">
      <ul id="side-bar-tabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="">
          <a href="#interaction" id="home-tab" role="tab" data-toggle="tab" aria-controls="interaction" aria-expanded="false">Interaction</a>
        </li>
        <li role="presentation" class="active">
          <a href="#chat" role="tab" id="profile-tab" data-toggle="tab" aria-controls="chat" aria-expanded="true">Chat</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="interaction" aria-labelledby="interaction-tab">
          <%= render 'subscription_feature' %>
          <%= render 'like_user_box' %>
        </div>
        <div role="tabpanel" class="tab-pane fade active in" id="chat" aria-labelledby="chat-tab">
          <%= render 'chat_box_and_form' %>
        </div>
      </div>
    </div>

  </div><!-- row -->
</div><!-- container -->
