<div id="player"></div>
<script src="http://www.youtube.com/iframe_api"></script>

<!-- Player won't play starting with empty array
Player won't play after song is added when playlist is finished -->

<script>
    /**
     * Put your video IDs in this array
     */
    var videoIDs = [
        'i_kF4zLNKio'
    ];

    var player, currentVideoId = 0;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '350',
            width: '425',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.loadVideoById(videoIDs[currentVideoId]);
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
            currentVideoId++;
            if (currentVideoId < videoIDs.length) {
                player.loadVideoById(videoIDs[currentVideoId]);
            }
        }
    }
</script>

<%= form_tag do %>
  <%= submit_tag("skip", :id => "skip-song") %>
<% end %>
  

<div id="playlist" class="container col-xs-9 col-md-6 col-xs-offset-2 col-md-offset-2">
	<h1><%= @playlist.name %></h1>
	<% @playlist.songs.each do |song| %>
		<div class="playlist_song">
		  <%= song.name %>
	  </div>
	<% end %>
	<%= render 'youtube_search' %>
	<%= render 'new_song_by_url' %>

</div>

<div id="chat" class="container col-xs-6 col-md-4">
	<h1>Chat:</h1>
  <ul id="message_box">
  	<% @playlist.chat_messages.each do |message| %>
  		  <li><%= message.content %></li>
  	<% end %>
  </ul>

	<%= form_for [@playlist, ChatMessage.new] do |f| %>
		<%= f.hidden_field :playlist_id, value: @playlist.id %>
		<%= f.hidden_field :user_id, value: current_user.id %>
	  <%= f.text_field :content %>
	  <%= f.submit "Send" %>
	<% end %>
</div>

<!-- JS -->
<script>
	$(function() {
		$(":submit").click(function(event) {
			event.preventDefault();
			// $.post("/playlist//chat_messages", $("form").serialize(), function(data) {	
			$.post(location.href + "/chat_messages", $("form").serialize(), function(data) {	
			})
			$("#new_chat_message")[0].reset();
		})
	});
</script>