<script>var current_user_is_host = <%= current_user.id == @playlist.host_id %>;</script>

<center><div id="player"></div></center>
<script src="http://www.youtube.com/iframe_api"></script>

<script>
    if (<%= @songs.empty? %>) {
      var videoIDs = [
          'i_kF4zLNKio', <%= @songs.html_safe %>
      ];
    }
    else {
      var videoIDs = [
          <%= @songs.html_safe %>
      ];
    }

    var player, currentVideoIndex = 0;
    var whatIsPlaying = 0;
    var songsPlayed = [];

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '350',
            width: '425',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.loadVideoById(videoIDs[currentVideoIndex]);
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          $('#songs-list').find("#" + videoIDs[currentVideoIndex]).parent().closest('div').fadeTo(500,0.2);
          currentVideoIndex++;
          videoIDs.push(songsPlayed);
            if (currentVideoIndex < videoIDs.length) {
               player.loadVideoById(videoIDs[currentVideoIndex]);
            }
        }
        if (event.data == YT.PlayerState.PLAYING) {
          whatIsPlaying = player.getVideoData()['video_id']
          document.getElementById('currently_playing').innerHTML = 'Currently playing: ' + player.getVideoData().title;
        }
    }
</script>
<center>

<%= form_tag do %>
  <%= submit_tag("skip", :id => "skip-song") %>
<% end %>

<p>
  <% if @playlist.locked %>
    <%= form_for @playlist, :url => {:controller => :playlists, action: :update} do |f| %>
      <%= f.hidden_field :locked, value: false %>
      <%= f.submit "Unlock Playlist", :id => "unlock_playlist" %>
    <% end %>
  <% else %>
    <%= form_for @playlist, :url => {:controller => :playlists, action: :update} do |f| %>
      <%= f.hidden_field :locked, value: true %>
      <%= f.submit "Lock Playlist", :id => "lock_playlist" %>
    <% end %>
  <% end %>

  <% if @subscription %>
    <% if @subscription.approved == false %>
      <h4>Subscription Pending</h4>
    <% else %>
      <%= form_for @subscription, method: :delete do |f| %>
        <%= f.hidden_field :playlist_id, value: @playlist.id %>
        <%= f.submit "Unsubscribe", :id => "subscribe_to_playlist" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for Subscription.new do |f| %>
      <%= f.hidden_field :playlist_id, value: @playlist.id %>
      <%= f.submit "Subscribe", :id => "unsubscribe_from_playlist" %>
    <% end %>
  <% end %>
</p>

</center>

<div id="currently_playing">
  Currently playing nothing
</div>

<div id="main-bar" class="container col-xs-9 col-md-6 col-xs-offset-2 col-md-offset-2">
  <div id="playlist">
    <h1><%= @playlist.name %></h1>
    <div id="songs-list">
      <% @playlist.requests.order(:position).each do |request| %>
        <%= div_for request, class: "rowBox" do %>
          <div class="voting" id="voting-<%= request.id%>">
            <h6 id="vote-count-<%= request.id%>"><%= request.vote_count %></h6>
            <% if !@playlist.locked %>
              <a class="upvote" id="upvote-<%= request.id%>"> upvote </a>
              <a class="downvote" id="downvote-<%= request.id%>">downvote</a>
            <% if current_user.id == @playlist.host_id %>
              <a class="delete" id="delete-<%= request.id %>">delete</a>
            <% end %>
          <% end %>
          </div>
          <%= link_to "#{request.song.name}", request.song, id: "#{request.song.uid}", class: "song-uid" %>
        <% end %>
      <% end %>
    </div>
    <% if !@playlist.locked %>
      <h2>What we want:</h2>
      <%= render 'add_song_form' %>
    <% end %>
  </div>
</div>

<!-- CHAT FEATURE: -->
<div id="playlist-side-bar" class="container col-xs-6 col-md-4">
  <%= render 'chat_box_and_form' %>
</div>