<!DOCTYPE html>
<html>
<head>
  <title>DynamicPlaylister</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'http://localhost:9292/faye.js' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <script>
    var current_user_is_host = false;
    var current_user_name = "Guest";
  </script>
  <%= render 'layouts/header' %>
  <% if flash[:notice] %>
    <center><div class="notice"><%= flash[:notice].join("<br>").html_safe %></div></center>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>